<div id='left-col'>
	<table>
		<tr><%= link_to 'c', c_blogs_path %></tr><br>
		<tr><%= link_to 'java', java_blogs_path %></tr><br>
		<tr><%= link_to 'Ruby', ruby_blogs_path %></tr><br>
		<tr><%= link_to 'Rails', rails_blogs_path %></tr><br>
	</table>
	</div>
<div id='learn'>

</div>

<div id='main-ruby'>
	<h2><p>"WANT TO LEARN C?"</p><h2>
	<h2>BEGINNER</h2>
	<a href="http://www.tutorialspoint.com/cprogramming/index.htm">Tutorial point</a><br>
	Start learning c here, where you can build strong basic<br>
	<a href="http://www.cprogramming.com/tutorial/c-tutorial.html">c programming</a><br>
	Another beginner tutorial site. Helps you build strong basic<br>
	<a href="http://fresh2refresh.com/c/">Fresh2refresh</a><br>
	Nice turorial site, also try real time programs which you will find in the bottom on the page<br>

	<h2>INTERMEDIATE</h2><br>
	<a href="http://www.pearsonhighered.com/educator/course/C-Intermediate-Advanced-Programming/
91054901.page">Pearsonhighered</a><br>
	This is where you will find some real content<br>
	<a href="http://www.eskimo.com/~scs/cclass/int/top.html">Eskimo</a><br>
	Page by steve summit where you can find examples of Datafiles, pointers, Arrays,<br>

	<h2>EXPERT LEVEL</h2>
	<a href="http://www.cprogrammingexpert.com/">C programming</a><br>
	End your learning here, start building your own stuff<br>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-55171961-1', 'auto');
  ga('send', 'pageview');
</script>