
<h1> WELCOME </h1>



<p> Set this page as your home page <br>
 find best links without even searching</P>


<div class="links"> 	

   
</div>

<div class="table">
  <table style="width:40%">
  	<tr>
  	<th><h5><span class="glyphicon glyphicon-search"></span> Search Engine</h5></th>
	<th><h5><span class="glyphicon glyphicon-search"></span> Social Networking</h5></th>
 	<th><h5><span class="glyphicon glyphicon-search"></span> Entertainment</h5></th>
  	</tr>
	
	<tr>
	<td><a href="http://www.google.com">google</a></td>
	<td><a href="http://www.facebook.com">Facebook</a></td>	
	
	</tr>
	<tr>
	<td><a href="http://www.dogpile.com"> Dogpile</a></td> 	
	<td><a href="https://twitter.com/">twitter</a></td>
	
	</tr>
	<tr>
	<td><a href="http://www.yahoo.com">yahoo</a></td>	
	<td><a href="https://linkedin.com/">linkedin</a></td>
	</tr>
	<tr>
	<td><a href="http://www.bing.com"> Bing</a></td>	
	</tr>
  </table>
<div>

<div class="jumbotron">
  <p>.....</p>
  <a class="btn btn-primary btn-lg" role="button">Learn more</a>
  <a class="btn btn-primary btn-lg" role="button">Coming soon</a>
</div