<<<<<<< HEAD
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Slider Content (Wrapper for slides )-->
  <div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
      <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <!--<img width="750" height="400" src="https://lh6.googleusercontent.com/-skfpT2Az71E/VB9A8mTp-7I/AAAAAAAABb4/lB75nuyWIUQ/w480-h323-no/delllll%2Bcopy.jpg"> -->
                <div class="carousel-caption">
                   <h3>Welcome To Snappy</h3>
                  <h3>Stay Connected To Real World Leaving The Junk Behind!</h3>
                  <p>estar conectados con el mundo real de salir de la basura detrás</p>
                </div>
            </div>
            <div class="item">
                <div class="carousel-caption">
                  <h3>Check New Student Tab</h3>
                  <h3>Gets You To Right Education Stuff</h3> 
                  <p>conseguir que se Right Stuff educación</p>
                </div>
            </div>
            <div class="item">
                 <img width="550" height="200" src="http://www.pharmacyowners.com/Portals/37772/images/pds-tv/marketplace/promotions%20unlimited%20new%20logo.jpg?1358278179.67866"> 

                 <img width="550" height="150" src="http://bullseyerecruiting.net/wp-content/uploads/2014/08/Jobhuk.png"> 
                <div class="carousel-caption">
                   
                  <h3> Our Sponser's </h3>
                  <p>de nuestra sponser</p>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

    <!-- Slides Container -->
<div id='ping-pong'>
<div class="table1">
  <table style="width:70%">
    <tr>
    <th><h5><button id="open" class="btn btn-warning"><span class="glyphicon glyphicon-search"></span> Search Engine</h5></th>
  <th><h5><button id="open" class="btn btn-warning"><span class="glyphicon glyphicon-tags"></span> Social Networking</h5></th>
  <th><h5><button id="open" class="btn btn-warning"><span class="glyphicon glyphicon-facetime-video"></span> Entertainment</h5></th>
  <th><h5><button id="open" class="btn btn-warning"><span class="glyphicon glyphicon-book"></span> Education</h5></th>
  <th><h5><button id="open" class="btn btn-warning"><span class="glyphicon glyphicon-film"></span> Watch online Movies</h5></th>
    </tr>
  <!-- this is row 1 -->
  <tr>
  <td><a href="http://www.google.com"> Google</a></td>
  <td><a href="http://www.facebook.com"> Facebook</td> 
  <td><a href="http://www.youtube.com"> Youtube</td>
  <td><a href="https://www.helpified.com/"> Helpified</td>
    <td><a href="http://www.emoviestv.com/"> Emovies</td>

  </tr>
  <tr>
  <td><a href="http://www.ehow.com"> Ehow</a></td>  
  <td><a href="https://twitter.com/"> Twitter</a></td>
  <td><a href="https://www.netflix.com/home?nmr=1&locale=en-US"> Netflix</td>
  <td><a href="https://www.coursera.org/"> Coursera</td>
    <td><a href="http://viooz.ac/"> Viooz</td>

  </tr>
  <tr>
  <td><a href="http://www.yahoo.com"> Yahoo</a></td> 
  <td><a href="https://linkedin.com/"> Linkedin</a></td>
  <td><a href=""></a></td>
  <td><a href="http://www.discoveryeducation.com/"> Discovery education</a></td>
  <td><a href="http://www.movie4k.to"> Movie4k</a></td>
=======
<div class="sameclass">
<div class="quicklink">
  <img alt="logo" class="img" width="400" height="250" src="https://lh6.googleusercontent.com/-skfpT2Az71E/VB9A8mTp-7I/AAAAAAAABb4/lB75nuyWIUQ/w480-h323-no/delllll%2Bcopy.jpg">
</div>
</div>

	
<div>
<div class="table1">
  <table style="width:80%">
    <tr>
    <th><h5><span class="glyphicon glyphicon-search"></span> Search Engine</h5></th>
  <th><h5><span class="glyphicon glyphicon-fire"></span> Social Networking</h5></th>
  <th><h5><span class="glyphicon glyphicon-tree-conifer"></span> Entertainment</h5></th>
  <th><h5><span class="glyphicon glyphicon-list-alt"></span> Education</h5></th>
  <th><h5><span class="glyphicon glyphicon-film"></span> Watch online Movies</h5></th>
    </tr>
  <!-- this is row 1 -->
  <tr>
  <td><a href="http://www.google.com">google</a></td>
  <td><a href="http://www.facebook.com">Facebook</a></td> 
  <td><a href="http://www.youtube.com">youtube</td>
  <td><a href="http://www.w3schools.com/default.asp">w3schools</td>
    <td><a href="http://www.emoviestv.com/">emovies</td>

  </tr>
  <tr>
  <td><a href="http://www.ehow.com"> ehow</a></td>  
  <td><a href="https://twitter.com/">twitter</a></td>
  <td><a href="https://www.netflix.com/home?nmr=1&locale=en-US">Netflix</td>
  <td><a href="https://www.coursera.org/">Coursea</td>
    <td><a href="http://viooz.ac/">Viooz</td>

  </tr>
  <tr>
  <td><a href="http://www.yahoo.com">yahoo</a></td> 
  <td><a href="https://linkedin.com/">linkedin</a></td>
  <td><a href=""></a></td>
  <td><a href="http://www.discoveryeducation.com/">discovery education</a></td>
  <td><a href="http://www.movie4k.to">movie4k</a></td>
>>>>>>> 22e25484e623958da83532dd583cf6cdd91cca3e

  </tr>

  <tr>
  <td><a href="http://www.bing.com"> Bing</a></td>  
   <td><a href=""></a></td>
  <td><a href=""></a></td>
  <td><a href="http://interactivesites.weebly.com/"> Interactivesites</a></td>
  <td><a href=""></a></td>

  </table>
</div>

<<<<<<< HEAD
<br>
<!-- second table -->
<div class="table2">
	<table style="width:80%">
		<tr>
    <th><h5><button id="open" class="btn btn-warning"><span class="glyphicon glyphicon-globe"></span> News</h5></th>
  <th><h5><button id="open" class="btn btn-warning"><span class="glyphicon glyphicon-tree-conifer"></span> Job Search</h5></th>
  <th><h5><button id="open" class="btn btn-warning"><span class="glyphicon glyphicon-music"></span> Music</h5></th>
  <th><h5><button id="open" class="btn btn-warning"><span class="glyphicon glyphicon-plane"></span> Travel</h5></th>
     <th><h5><button id="open" class="btn btn-warning"><span class="glyphicon glyphicon-fire"></span> Personality Enhancement</h5></th>
=======


<div class="table2">
	<table style="width:80%">
		<tr>
    <th><h5><span class="glyphicon glyphicon-search"></span> News</h5></th>
  <th><h5><span class="glyphicon glyphicon-tree-conifer"></span> Job Search</h5></th>
  <th><h5><span class="glyphicon glyphicon-music"></span> Music</h5></th>
  <th><h5><span class="glyphicon glyphicon-plane"></span> travel</h5></th>
     <th><h5><span class="glyphicon glyphicon-fire"></span> Personality Enhancement</h5></th>
>>>>>>> 22e25484e623958da83532dd583cf6cdd91cca3e

    </tr>
    <!-- first row -->
    <tr>
  <td><a href="http://online.wsj.com/"> Wallstreet journel</a></td>  
<<<<<<< HEAD
  <td><a href="http://www.glassdoor.com/index.htm"> Glass door</a></td>  
  <td><a href="http://www.rdio.com/"> Rdio</a></td>
  <td><a href="http://www.southwest.com/"> Southwest</a></td>  
=======
  <td><a href="http://www.glassdoor.com/index.htm">Glass door</a></td>  
  <td><a href="http://www.rdio.com/">Rdio</a></td>
  <td><a href="http://www.southwest.com/">southwest</a></td>  
>>>>>>> 22e25484e623958da83532dd583cf6cdd91cca3e
  <td><a href="http://www.ted.com/"> Ted talks</a></td>  

  </tr>
  <tr>
  <td><a href="http://www.nytimes.com/"> Newyork times</a></td>
  <td><a href="http://www.indeed.com"> Indeed</a></td>
<<<<<<< HEAD
    <td><a href="https://play.spotify.com/"> Spotify</a></td>
      <td><a href="http://www.usairways.com"> Usairways</a></td>  
  <td><a href="http://www.oprah.com/index.html"> Oprah</a></td>

  </tr>
  <tr>
  <td><a href="http://www.bbc.com/"> BBC News</a></td> 
  <td><a href="http://www.dice.com/"> Dice</a></td> 
      <td><a href="https://listen.beatsmusic.com/"> Beats</a></td>
   <td><a href="http://www.flykingfisher.com/"> Kingfisher</a></td>  
=======
    <td><a href="https://play.spotify.com/">spotify</a></td>
      <td><a href="http://www.usairways.com">usairways</a></td>  
  <td><a href="http://www.oprah.com/index.html"> Oprah</a></td>



  </tr>
  <tr>
  <td><a href="http://www.bbc.com/"> BBC News</a></td> 
  <td><a href="http://www.dice.com/"> dice</a></td> 
      <td><a href="https://listen.beatsmusic.com/"> beats</a></td>
   <td><a href="http://www.flykingfisher.com/"> kingfisher</a></td>  
>>>>>>> 22e25484e623958da83532dd583cf6cdd91cca3e
  <td><a href="http://www.thersa.org/events/video"> Thersa</a></td> 

  </tr>
   <tr>
  <td><a href="http://timesofindia.indiatimes.com/home"> Times Of India</a></td>  
    <td><a href="http://www.jobhuk.com"> Jobhuk</a></td>  
          <td><a href="http://www.songspk.name/"> Songs.pk</a></td>
    <td><a href="http://www.qatarairways.com/"> Qatar</a></td>
    <td><a href="http://www.thedolectures.com/"> Do lectures</a></td>  

  </tr>
   <tr>
<<<<<<< HEAD
  <td><a href="https://wikileaks.org/"> wiki leaks</a></td>  
     <td><a ></a></td>
    <td><a href="http://www.saavn.com/"> Saavn</a></td>
     <td><a href="http://www.emirates.com/us/english/index.aspx"> Emitrates</a></td>
    <td><a href="http://www.inktalks.com/"> Ink Talks </a></td>  
  </tr>
	</table>
</div>
</div><br><br><br>
<div class="like">
<li> <a target="_blank" href="https://www.facebook.com/snappylinks">
      <image border="0" width="50" src="http://www.acdfestival.org/img/fb-like.png"></li>
</div>
<div class="jumbo1">
    
    <footer>   
  <div class="bottom1">  
  </div>

</footer>
 
    
=======
  <td><a href="https://wikileaks.org/">wiki leaks</a></td>  
     <td><a ></a></td>
    <td><a href="http://www.saavn.com/">saavn</a></td>
     <td><a href="http://www.emirates.com/us/english/index.aspx"> Emitrates</a></td>
    <td><a href="http://www.inktalks.com/"> Ink Talks </a></td>  

   

  </tr>


	</table>
</div>

<div class="jumbo3">
    <div id="dialog" title="Coming soon">
 <h6> New pages, New links, Student tab and lots of more fun stuff for student so, they can easily find  best content to study. </h6>
</div>
     <button id="opener" class="btn btn-primary">Coming soon</button>

     <a target="_blank" href="https://www.facebook.com/snappylinks">
      <image border="0" src="http://www.sandeepmaheshwari.com/images/FB_LOGO.JPG">
    </a>
      like us 
    </div>
>>>>>>> 22e25484e623958da83532dd583cf6cdd91cca3e
