<div id='left-col'>
	<table>
		<tr><%= link_to 'c', c_blogs_path %></tr><br>
		<tr><%= link_to 'java', java_blogs_path %></tr><br>
		<tr><%= link_to 'Ruby', ruby_blogs_path %></tr><br>
		<tr><%= link_to 'Rails', rails_blogs_path %></tr><br>
	</table>
	</div>
<div id='learn'>

</div>

<div id='main-ruby'>
	<h2><p>"WANT TO LEARN JAVA?"</p><h2>
	<h2>BEGINNER</h2>
	<a href="http://www.tutorialspoint.com/java/index.htm">Tutorials point</a><br>
	Give a kickstart to your learning<br>
	<a href="http://javabeginnerstutorial.com/core-java/">Beginners Tutorial</a><br>
	Important object oriented concepts which is similar in almost every programming language<br>
	<a href="http://www.devmanuals.com/tutorials/java/corejava/">Dev manuals</a><br>
	This page will walk you through each and every basic java concepts<br>
	

	<h2>INTERMEDIATE</h2><br>
	<a href="http://sourcecodemania.com/advanced-java-tutorial-for-intermediate-programmers/">Sourcecodemania</a><br>
	Only start if your done with beginner's tutorial, this is bit advanced content <br>
	<a href="http://www.javacoffeebreak.com/tutorials/">Javacoffebreak</a><br>
	Build your carrer, this page has challenging programming,practice hard!<br>
	<a href="http://www.ibm.com/developerworks/java/tutorials/j-intermed/j-intermed.html">Ibmjava</a><br>
	Most java developer refer the source code from this page<br>
	

	<h2>EXPERT LEVEL</h2>
	<a href="http://www.lynda.com/Java-training-tutorials/1077-0.html">Lynda</a><br>
	This website has great video tutorials, fun way to give expert level start<br>
	<a href="http://www.webbasedprogramming.com/Java-Expert-Solutions/">Webbasedprogramming</a><br>
	find every thing you need, this page has every thing
	
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55171961-1', 'auto');
  ga('send', 'pageview');

</script>