<div id='left-col'>
	<table>
		<tr><%= link_to 'c', c_blogs_path %></tr><br>
		<tr><%= link_to 'java', java_blogs_path %></tr><br>
		<tr><%= link_to 'Ruby', ruby_blogs_path %></tr><br>
		<tr><%= link_to 'Rails', rails_blogs_path %></tr><br>
	</table>
	</div>
<div id='learn'>

</div>


<div id='main-ruby'>
	<h2><p>"WANT TO LEARN RAILS?"</p><h2>
	<h2>BEGINNER</h2>
	<a href="http://www.schneems.com/ut-rails/">Schneems</a><br>
	Professor at University of texas, will walk you through building basic rails app<br>
	<a href="http://railsforzombies.org/">railsforzombies</a><br>
	Learn rails in a fun way with zombies<br>
	<a href="http://guides.rubyonrails.org/getting_started.html">Getting started</a><br>
	Build your first rails app by generating models, view, controllers<br>
	<a href="http://railsforzombies.org/">railsforzombies</a><br>
	Learn rails in a fun way with zombies<br>

	<h2>INTERMEDIATE</h2><br>
	<a href="https://www.railstutorial.org/book">Railstutorial</a><br>
	Michael Hartl book of ruby on rails tutorial, will learn a lot <br>
	<a href="https://www.coursera.org/course/webapplications">Coursea</a><br>
	Course from university of new mexico, certified course<br>

	<h2>EXPERT LEVEL</h2>
	<a href="http://guides.rubyonrails.org">Guides rails</a><br>
	Offical page of rails, will get to see every thing in rails<br>
	<a href="http://railscasts.com/">Rails cast</a><br>
	Ryan bates, subcribe here will start playing with rails app<br>
</div>	

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55171961-1', 'auto');
  ga('send', 'pageview');

</script>