<div id='left-col'>
	<table>
		<tr><%= link_to 'c', c_blogs_path %></tr><br>
		<tr><%= link_to 'java', java_blogs_path %></tr><br>
		<tr><%= link_to 'Ruby', ruby_blogs_path %></tr><br>
		<tr><%= link_to 'Rails', rails_blogs_path %></tr><br>
	</table>
	</div>

