<div id="glasses">
	<img class="img" width="500" height="400" src="https://lh6.googleusercontent.com/-skfpT2Az71E/VB9A8mTp-7I/AAAAAAAABb4/lB75nuyWIUQ/w480-h323-no/delllll%2Bcopy.jpg">
</div>
<div id="content">
<<<<<<< HEAD
<h2>What are you searching for?</h2>
=======
<h3>What are you searching for?</h3>
>>>>>>> 22e25484e623958da83532dd583cf6cdd91cca3e
<p>If you are looking for the best you are in the right place.
 There are many websites online which has valuable content, but there are  many other sites which are not even that important.
 We have many popular search engines with pretty big algorithms but, do they provide exactly what you want? No, because you are the one who knows what you really looking for. scrappylinks provides you straight links to the world's best sites, which gets
  you connected in seconds.<br>
	 What are these links?<br>
 	Why do we need all this?<br>
	In the generation to keep things straight, making use of human sense to choose the best sites and
	to find the real content, which gets you into right place.<br>
	let me tell you what happens with me often?<br>
	I search online, i use search engines every day but  i mostly end up with worst sites, where there are many other best websites available for the same content<br>
	 What did i do?<br>
	I took a note of those best websites and presented to you as scrappylinks, so that everybody ends up in the	right place.<br>	
 So let's go to the right place.
</p>
</div>
<div class="jumbo2">
<<<<<<< HEAD
   <!-- <div id="dialog" title="Coming soon">
=======
    <div id="dialog" title="Coming soon">
>>>>>>> 22e25484e623958da83532dd583cf6cdd91cca3e
 <h6> New pages, New links, Student tab and lots of  more fun stuff for student so, they can easily find there best content to study. </h6>
</div>
     <button id="opener" class="btn btn-primary">Coming soon</button>

    <a target="_blank" href="https://www.facebook.com/snappylinks">
      <image border="0" src="http://www.sandeepmaheshwari.com/images/FB_LOGO.JPG">
    </a>
<<<<<<< HEAD
    </div> -->
    
=======
      like us 
    </div>
>>>>>>> 22e25484e623958da83532dd583cf6cdd91cca3e
