<div class="container">
	
<div class="i-know-someone" >

</div>
<div class="i-know-sandeep">
</div>

</div>
<div class="table3">
  <table style="width:80%">
  	<tr>
<td><h2>Rohit <br> Contact me # 001-512-565-0382<br> Rxk31020@ucmo.edu</h2></td>

<td><h2>Sandeep <br> Contact me # 91-756-969-2353<br> sandeepkumarbellam@hotmail.com</h2></td>
</tr>
</table>
</div>
<<<<<<< HEAD

=======
<div class="jumbo1">
    <div id="dialog" title="Coming soon">
 <h6> New pages, New links, Student tab and lot more fun stuff for student so, they can easily find  best content to study. </h6>
</div>
     <button id="opener" class="btn btn-primary">Coming soon</button>

    <a target="_blank" href="https://www.facebook.com/snappylinks">
      <image border="0" src="http://www.sandeepmaheshwari.com/images/FB_LOGO.JPG">
    </a>
      like us 
    </div>
>>>>>>> 22e25484e623958da83532dd583cf6cdd91cca3e
